@{
    ViewBag.Title = "Home Page";
}

<div class="row header">
    <div class="div-h10"></div>
    <h1>BOOKY LIVRARIA</h1>
    <h2>Controle de livros de uma maneira rápida e eficiente.</h2>
    <br />
    <br />
    <a class="btn btn-primary" href='https://github.com/marikell/Booky'>
        <img src="~/Content/images/git.png"/>
    </a>
    <br />
    <br />
    <br />
    <br />
</div>
<br />

<div class="row footer-header">
    <div class="col-md-2"></div>
    <div class="col-md-4 div-btn">
        <h3>Criar Livro</h3>
        <hr />
        <br />
        <a id="btnCreateBook" href="/Book/Create" class="btn btn-primary"><span class="glyphicon-plus"></span></a>
    </div>

    <div class="col-md-4 div-btn">
        <h3>Listar Livros</h3>
        <hr />
        <br />
        <a id="btnListBook" href="/Book/Index" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span></a>
    </div>
    <div class="col-md-2"></div>

</div>
<br />
