@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row" style="background-image:url(/Content/images/2.jpg); background-repeat:no-repeat;background-size:100% 100%; text-align:center; height:50vh;">
    <div style="height:10%;"></div>
    <h1 style="color:black; font-weight:bold; font-size:80px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Booky Livraria</h1>
    <h2 style="font-style:italic; color:white; font-family: Cambria;">Controle de seus livros de uma maneira rápida e eficiente.</h2>
    @*<img style="opacity:0.4;width:100%; height:100%; background-size:100% 60%;" src="~/Content/images/library.jpg" />*@
</div>
<br />
<br />
<div class="row" style="margin-left:15px; margin-right:15px;">
    <div class="col-md-4" style="text-align:center; height:240px;">
        <fieldset style="margin-right:50px; margin-left:50px;">
            <legend>Criar Novo Livro</legend>
        </fieldset>

        <p>
            <a href='/Book/Create' class="btn btn-default" style="height:150px; width:150px;background-color:mediumturquoise; border-radius:1000px;">
                <span style="color:white; font-size:3em;" class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>

    <div class="col-md-4" style="text-align:center; border-radius:1000px;">
        <fieldset style="margin-right:50px; margin-left:50px;">
            <legend>Listar Livros</legend>
        </fieldset>



        <p>
            <a href='/Book/Index' class="btn btn-default" style="height:150px; width:150px;background-color:deeppink; border-radius:1000px;">
                <span style="color:white; font-size:3em;" class="glyphicon glyphicon-list"></span>
            </a>
        </p>
    </div>

</div>